@using SkillsHub.Domain.BaseModels

@model (IQueryable<BaseUserInfo>?,Guid)
@{
    ViewData["Title"] = "Create";
}

@{
    if (Model.Item1 == null || Model.Item1.Count() == 0)
    {
        <option>List is empty</option>
    }

    else
    {
        @foreach (var item in Model.Item1.Where(x => x.IsDeleted == false).ToList())
        {

            if (Model.Item2 == item.Id)
            {

                <option selected="selected" value="@item.Id">@item.FullName </option>
            }
            else
            {
                <option value="@item.Id">@item.FullName </option>

            }

        }
    }
}