@using SkillsHub.Application.DTO;

@model IQueryable<Cource>;

<div>
    <div>

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb" style="display:flex;align-items:center">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Classes</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Full List</a></li>
                    <li>
                        <div>
                            <a style="margin-left:20px" class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Action
                            </a>

                            <ul class="dropdown-menu">
                                <form>
                                <li>

                                    <a class="dropdown-item" asp-action="Create" asp-controller="Account">Create new</a>

                                </li>
                                </form>
                            </ul>

                        </div>
                    </li>

                </ol>
            </div>
        </div>


        @{
            if (Model == null || Model.Count() == 0)
            {

                <div style=" display:flex;flex;grid-gap:20px;justify-content:center ">
                    <h3>Lessons types are empty</h3>
                </div>

            }

            else{
                <h3>Cources</h3>
                @foreach(var item in Model)
                {
                    
                }
            }

        }
    </div>

</div>

