@model (List<AgeType>, Guid)

<!--<select class="form-select">-->
    @foreach (var item in Model.Item1)
    {
        var min = item.MinimumAge;
        var max = item.MaximumAge;


        if (item.Id == Model.Item2)
        {
            <option value="@item.Id" selected>
                @item.Name
                @if (min == max)
                {
                    <span>(@min years)</span>
                }
                else
                {
                    <span>(@min - @max years)</span>
                }
            </option>
        }
        else
        {
            <option value="@item.Id">
                @item.Name
                @if (min == max)
                {
                    <span>(@min years)</span>
                }
                else
                {
                    <span>(@min - @max years)</span>
                }
            </option>
        }
    }
    @if (User.IsInRole("Admin"))
    {
        <option id="last"><input type="button" onclick="addNewRow()" value="create new" /></option>
    }

<script>
    function addNewRow() {
       $("#last").load("_CreateOption");
        //await Html.PartialAsync("_CreateOption");
    }
</script>
