@model IQueryable<AgeType>?;
@{
	ViewData["Title"] = "Create";
}

@if (Model == null || Model.Count() == 0)
{
    <div style="display:flex;flex;grid-gap:20px;justify-content:center">
        <h2>List is empty</h2>
    </div>
    <div id="lessonType-data">
        <form><a class="btn btn-primary" type="submit" asp-action="Create" asp-controller="PaymentType">Create</a></form>
    </div>
}
else
{


    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Lesson type</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        
                                        <th>Name</th>
                                        <th>Min age</th>
                                        <th>Max age</th>
                                        <th>Status</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                   @foreach(var item in Model)
                                   {
                                       <td>@item.Name</td>
                                       <td>@item.MinAge</td>
                                       <td>@item.MaxAge</td>
                                       <td>
                                           <select>
                                               <option>
                                                    Active
                                               </option>
                                               <option>
                                                    Not active
                                               </option>                         
                                           </select>
                                       </td>
                                       
                                   }
                                </tbody>
                                <tfoot>
                                    <tr>

                                        <th>Name</th>
                                        <th>Min age</th>
                                        <th>Max age</th>
                                        <th>Status</th>
                                       
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div>
                            <form><a class="btn btn-primary" type="submit" asp-action="Create" asp-controller="PaymentType">Create</a></form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

  
    }
