@model List<AgeType>;

@{
	var main = Model.OrderBy(x => x.DateCreated).First();

}

<form method="post">
	<div class="card" style="margin:1%">
		<div class="card-body">


			<div style="display:flex;justify-content:space-between;">
				<h3>Folder <input type="text" class="form-control" value="elem.Name" /> - Sum: itemsInFolder.Sum(x => x.Budget) BYN</h3>
				<div>
					<button asp-action="DeleteFolder" asp-controller="Finances" class="btn btn-danger">X</button>
				</div>
			</div>

			<div class="row">

				
				@foreach (var item in Model)
				{
					if (Model.ToList().IndexOf(item) == 0)
					{
						<h5 style="display:flex;margin-left:2%">Name element | Sum in BYN</h5>

					}

					<div style="background-color:cornsilk; display:flex;justify-content:space-between;margin-bottom:1%" class="form-group">
						<span>
							@(Model.ToList().IndexOf(item) + 1) -
							<input type="text" value="@item.Name" class="form-control" />
							<input type="number" disabled value="@item.MinimumAge"/>
							<input type="date" class="form-control" />
						</span>
						<div>
							<button asp-route-id="@item.Id" asp-action="DeleteElement" asp-controller="Finances" class="btn-danger btn btn-sm">X</button>
						</div>
					</div>

				}
			</div>
		</div>
	</div>
</form>