@using SkillsHub.Domain.Models;
@model Group;


<!-- Модальное окно -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Create new group</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="login-form-bg h-100">
                    <div class="container h-100">
                        <div class="row justify-content-center h-100">
                            <div>
                                <div class="form-input-content">
                                    <div class=" login-form mb-0">
                                        <div>
                                            <form class="mt-1 mb-5 login-input" method="post" id="formId">
                                                <div class="validation" asp-validation-summary="ModelOnly"></div>

                                                <div class="form-group ">
                                                    <label class=" col-form-label" for="val-skill">
                                                        Name<span class="text-danger">*</span>
                                                    </label>
                                                    <input name="Name" type="text" class="form-control" placeholder="For example - Morning group*" required>
                                                </div>

                                                <div class="form-group ">
                                                    <label class=" col-form-label" for="val-skill">
                                                        Online/Offline<span class="text-danger">*</span>
                                                    </label>
                                                    <select name="Term" class="form-control" id="val-skill">
                                                        <option value="Online" selected>Online</option>
                                                        <option value="Offline">Offline</option>
                                                    </select>
                                                </div>

                                                <!--
                                                <div class="form-group ">
                                                    <label class=" col-form-label" for="val-skill">
                                                        Write off visits from the subscription for passes:
                                                        <span class="text-danger">*</span>
                                                    </label>

                                                
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                        <label class="form-check-label" for="flexCheckDefault">
                                                            Without valid causes
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                        <label class="form-check-label" for="flexCheckChecked">
                                                            With valid causes
                                                        </label>
                                                    </div>
                                                </div>
                                                -->

                                                <div class="form-group ">
                                                    <ul id="studentsList" class="list-group col"></ul>
                                                    </div>
                                                
                                                    <!--<div class="form-group ">
                                                    <div class="row">
                                                        <h6 class="col">All</h6>
                                                        <h6 class="col">Group</h6>
                                                    </div>
                                                    <div class="row">

                                                        <ul id="studentsList" class="list-group col"></ul>
                                                        <ul class="list-group col" id="colSelected"></ul>
                                                    </div>
                                                </div>
                                        -->

                                                <div class="form-group row">
                                                    <div class="col-lg-8 ml-auto">
                                                        <button type="button" class="btn btn-primary" onclick="CreateGroup()">Create</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Понял</button>
            </div>
        </div>
    </div>
</div>

<script src="~/plugins/jqueryui/js/jquery-ui.min.js"></script>
<script src="~/plugins/jquery/jquery.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

    function aaa() {

        var studentsList = $("#studentsList");
        studentsList.empty();
        $.ajax({
            url: "/Student/GetStudentListAsync",
            type: "GET",
            dataType: "json",

            success: function (data) {

                data = JSON.parse(data);
                console.log(data);

                if (Array.isArray(data)) {

                    data.forEach(function (item, i, arr) {
                        studentsList.append("<li class='list-group-item' name='nameStudent'><input type='checkbox' name='namesValue'  style='margin-right:5px;'  /> " + item.FirstName + " " + item.LastName + " " + item.Surname + "</li>");

                    });

                   
                } else {
                    
                }
            }
        });

    }
    
    // Move the list item based on checkbox state
    function moveListItem(checkbox) {
       
        var colSelected = $("#colSelected");
        var studentsList = $("#studentsList");

        var listItem = $(checkbox).parent();

        if (checkbox.checked) {
            // Move to colSelected
            colSelected.append(listItem.detach());
            console.log('huoooo')
        } else {
            // Move to studentsList
            studentsList.append(listItem.detach());
        }
    }

    function CreateGroup() {
        var form = $("#formId");
        var data = form.serialize();
        console.log(data);

        var url = form.attr('/Group/Create');
        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function (data) {

                // Ajax call completed successfully
                alert("Form Submited Successfully");
            },
            error: function (data) {

                // Some error in ajax call
                alert("some Error");
            }
        });
    }
            
    $(document).ready(function () {
        aaa();
    });

</script>
