@using SkillsHub.Application.Helpers;
@using SkillsHub.Application.DTO;
@using SkillsHub.Domain.BaseModels
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _roleManager;

@model IQueryable<ApplicationUser>?
    <!-- Custom Stylesheet -->
    <link href="/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div>



        <!--**********************************
            Content body start
        ***********************************-->
        <div >

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb" style="display:flex;align-items:center">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    <li>
                        <div>
                        <a style="margin-left:20px" class="btn btn-secondary" asp-action="Create" asp-controller="Account" >
                            Create new
                        </a>
                        </div>
                        <!--
                        <div>
                                <a style="margin-left:20px" class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Action

                                 </a>
                            
                            <ul class="dropdown-menu">
                                <form>
                                <li><a class="dropdown-item" href="#">Invite via email</a></li>
                                <li>

                                    <a class="dropdown-item" asp-action="Create" asp-controller="Account">Create new</a>
                                    
                                </li>
                                </form>
                                </ul>
                         -->
                       
                    </li>
                    
                    </ol>
                </div>
            </div>


            <!-- row -->


        @{
            if (Model == null || Model.Count() == 0)
        {

                <div style=" display:flex;flex;grid-gap:20px;justify-content:center ">
                    <h3>Users list is empty</h3>
                    

                </div>

        }

            else
            {
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Users</h4>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered zero-configuration">
                                            <thead>
                                                <tr>
                                                    <th>Login</th>
                                                    <th>Full Name</th>
                                                    <th>Sex</th>
                                                    <th>Phone</th>
                                                    <th>Email</th>
                                                    <th>BirthDate and Age</th>
                                                    <th>Total lessons student/teacher</th>
                                                    <th>Month lessons student/teacher</th>
                                                    <th>Roles</th>
                                                    <th>Source Find Company</th>
                                                    <th>Deleted</th>
                                                    <th>Soft delete</th>
                                                    <th>Hard delete (from database)</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                            <div id="usersList"></div>
                                                
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Login</th>
                                                    <th>Full Name</th>
                                                    <th>Sex</th>
                                                    <th>Phone</th>
                                                    <th>Email</th>
                                                    <th>BirthDate and Age</th>
                                                    <th>Total lessons student/teacher</th>
                                                    <th>Month lessons student/teacher</th>
                                                    <th>Roles</th>
                                                    <th>Source Find Company</th>
                                                    <th>Deleted</th>
                                                    <th>Soft delete</th>
                                                    <th>Hard delete (from database)</th>

                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
        }

         <!-- #/ container -->
        </div>

    </div>


<script src="~/plugins/common/common.min.js"></script>
<script src="~/js/custom.min.js"></script>
<script src="~/js/settings.js"></script>
<script src="~/js/gleek.js"></script>
<script src="~/js/styleSwitcher.js"></script>




<script>



    function GetLessonsByGroup() {


        var filters = {}
        var orders = {}

        try {
            const searchLessonByTopic = document.getElementById("searchLessonByTopic").value;
            filters = {

            };

            const order = document.getElementById("courcesNames").value;

            orders = {
                OrderColumn: "DateCreated",
                OrderType: "asc"
            }

        }
        catch (ex) { console.log("err"); }

        //------------------------------------------------------------------

        console.log("ol");

        //var list = document.getElementById("allLessons");
        //var count = document.getElementsByClassName("lessonInGroup").count; //id of new element;
        $("#usersList").load("/Account/UsersTableList", { id: 'Model.Id', filters: filters, order: orders });



        console.log("ol2");
        /*
        $.ajax({
        url: "/Lesson/GetByGroup?id=" + Model.Id,
        type: "GET",
        data: data,

        success: function (data) {
        // Обновление части страницы с полученным частичным представлением
        $('#AdminLink').empty();
        $('#AdminLink').html(data);
        },
        error: function (xhr, status, error) {
        // Обработка ошибки
        console.error(error);
        }
        });

        */

    }


    $(document).ready(function () {

        GetLessonsByGroup();
    });

