
@model List<NotificationMessage>?;

    <div class="chat-window" style="margin-right:8%">
        <div>
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion" style="display:flex;justify-content:space-between;padding:5%">
                    <h3>Messages</h3>

                    <!--
                    <div class="btn-group">
                        <a type="button" class="btn btn-primary" onclick="toggleCollapse()">
                          collapse 
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                    -->
                </div>
                <div class="panel-collapse " id="collapseOne">
                    <!--collapse-->
                    <div class="panel-body" style="padding:0px 5%">
                    <ul class="chat" id="notifications">
                       <!-- <li style="text-align:center"><a style="font-weight:600;text-align:center">Load all</a></li>-->
                        @if(Model != null && Model.Count() != 0)
                    {
                        @foreach(var not in Model)
                        {
                            <li class="left clearfix" style="margin-bottom:15%">
                                <span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div>
                                        <strong class="primary-font">Administator</strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>@not.DateCreated.ToShortTimeString() @if(not.DateCreated.Date != DateTime.Now.Date) {<span>@not.DateCreated.ToShortDateString()</span>}
                                        </small>
                                    </div>
                                    <p>
                                        @not.Message
                                    </p>
                                </div>
                            </li>
                        }
                    }
                    

                            
                           <!--
                            <li class="right clearfix">
                                <span class="chat-img pull-right">
                                    <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div>
                                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
                                        <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                         -->
                            
                            
                            
                        </ul>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <!--

                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning" id="btn-chat">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                    -->
                    }

                </div>
            </div>
        </div>
    </div>





