@model List<Lesson>

@{
    if(Model!= null)
    {
         foreach(var item in Model)
    {
        <div class="form-group">
            <span>@item?.LinkToWebinar</span>
            <span>@item?.Location</span>
            <span>@item?.LessonTask?.Task</span>
            <span>@item?.LessonType?.Name</span>
            <span>@item?.StartTime</span>
            <span>@item?.EndTime</span>
            <span>@if (item.ArrivedStudents == null) { } else{ @foreach(var i in item?.ArrivedStudents) { <p>i.Student.ApplicationUser.Surname</p> } }</span>
        </div>
    }
    }
   
}

<a class="dropdown-item" asp-action="Create" asp-controller="Lessons">Create new</a>