@using SkillsHub.Application.DTO;
@using SkillsHub.Domain.Models;

@model Lesson;


<!-- Модальное окно -->


<form class="mt-1 mb-5 login-input" method="post">


    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">

                        <h2>Create new lesson</h2>

                        <div class="validation" asp-validation-summary="ModelOnly"></div>

                        <div class="form-group ">
                                <h4>Lesson type<span class="text-danger">*</span></h4>
                            <select id="lessonTypes" asp-for="LessonType" type="text" class="form-control" placeholder="For example - Morning group*" required />
                                <h4>Lesson task<span class="text-danger">*</span></h4>
                            <input type="text" asp-for="LessonTask.Task" placeholder="Enter.."/>                       
                                <h4>Lesson activity type<span class="text-danger">*</span></h4>
                            <input type="text" asp-for="LessonActivityType.Name" placeholder="Enter.."/>                       


                        <input type="submit" asp-action="Edit" asp-controller="Courses" class="btn login-form__btn submit w-100" value="Create new group" />


                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



<script src="~/plugins/common/common.min.js"></script>

<script src="~/plugins/jqueryui/js/jquery-ui.min.js"></script>
<script src="~/plugins/jquery/jquery.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

    function getDataByAjaxTemplate(passedUrl) {

        $.ajax({
            url: passedUrl,
            type: "GET",
            dataType: "json",
            success: function (data) {
                data = JSON.parse(data);
                if (Array.isArray(data)) {

                }
            }
        });
    }
    

    function getCourcesNamesList() {

        var studentsList = $("#courcesNames");

        $.ajax({
            url: "/Cource/GetCourcesNamesAsync",
            type: "GET",
            dataType: "json",
            success: function (data) {
                data = JSON.parse(data);
                if (Array.isArray(data)) {


                    data.forEach(function (item, i, arr) {

                        var appendedLine = "<option class='list-group-item' name='courceId' asp-for='CourceId' value='" + item.Id + "'>" + item.Name;
                        //appendedLine += "<input type='checkbox' name='itemValue' asp-route-itemValue='this.value'  style='margin-right:5px;' value='" + item.Id + "'  /> ";
                        //appendedLine += item.FirstName + " " + item.LastName + " " + item.Surname;
                        appendedLine += "</option>"

                        studentsList.append(appendedLine);
                    })

                }
            }
        });

    }

    function getLessonTypesList() {

        var studentsList = $("#lessonTypes");

        $.ajax({
            url: "/Cource/GetLessonTypesAsync",
            type: "GET",
            dataType: "json",
            success: function (data) {
                data = JSON.parse(data);
                if (Array.isArray(data)) {


                    data.forEach(function (item, i, arr) {
                        studentsList.append("<input type='hidden' name='itemId'  value='" + item.Id + "'/>");

                        var appendedLine = "<option class='list-group-item' asp-for='LessonTypeId' value='" + item.Id + "'>" + item.Name;
                        //appendedLine += "<input type='checkbox' name='itemValue' asp-route-itemValue='this.value'  style='margin-right:5px;' value='" + item.Id + "'  /> ";
                        //appendedLine += item.FirstName + " " + item.LastName + " " + item.Surname;
                        appendedLine += "</option>"

                        studentsList.append(appendedLine);
                    })




                }
            }
        });

    }

    function getTeachersByLessonType() {

        var requiredTeachers = $("#requiredTeachers");


        var e = $("#lessonTypes");
        var strUser = e.options[e.selectedIndex].value;
        console.log("strUser");
        console.log(strUser);

        $.ajax({
            url: "/Teachers/GetTeachersByLessonTypeAsync",
            type: "GET",
            dataType: "json",
            data: strUser,
            success: function (data) {
                data = JSON.parse(data);
                if (Array.isArray(data)) {

                    if (data.length == 0) {
                        var appendEmpty = "<option class='list-group-item' value='' >Teacher's list to cource is empty</option>";
                        requiredTeachers.append(appendEmpty);
                    }
                    else {
                        data.forEach(function (item, i, arr) {

                            var appendedLine = "<li class='list-group-item' name='courceId' asp-for='TeacherId' value='" + item.Id + "'>" + item.FirstName + " " + item.LastName
                            appendedLine += "<input type='checkbox' name='itemValue' asp-route-itemValue='this.value'  style='margin-right:5px;' value='" + item.Id + "'  /> ";
                            appendedLine += item.FirstName + " " + item.LastName + " " + item.Surname;
                            appendedLine += "</option>"

                            requiredTeachers.append(appendedLine);
                        })
                    }




                }
            }
        });
    }

    function getTeachers() {

        var requiredTeachers = $("#allTeachers");


        $.ajax({
            url: "/Teachers/GetTeachersAsync",
            type: "GET",
            dataType: "json",
            success: function (data) {
                data = JSON.parse(data);
                if (Array.isArray(data)) {

                    if (data.length == 0) {
                        var appendEmpty = "<li class='list-group-item' value='' >Teacher's list is empty</li>";
                        requiredTeachers.append(appendEmpty);
                    }
                    data.forEach(function (item, i, arr) {

                        var appendedLine = "<li class='list-group-item'>";
                        appendedLine += "<input type='checkbox' name='teacherValue' style='margin-right:5px;' value='" + item.Id + "'  /> ";
                        appendedLine += item.FirstName + " " + item.LastName + " " + item.Surname;
                        appendedLine += "</li>"

                        requiredTeachers.append(appendedLine);
                    })




                }
            }
        });
    }

    $(document).ready(function () {
        //getDataByAjax("/Student/GetStudentListAsync")
        getStudentsList();
        getCourcesNamesList();
        getLessonTypesList();
        //getTeachersByLessonType();
        getTeachers();
        CreateScheduleDay();
    });

</script>
