
@model EmailProvider.Models.SendingMessage
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top" >
     
      <section class="py-0" id="home">

        <div class="bg-holder d-none d-md-block" style="background-image:url(images/anastasia.jpg);background-position:right bottom;background-size:70%;
        margin-top:1rem; background-position-y:0px; background-position-x:500px">
        </div>

        <!--/.bg-holder-->

        <div class="bg-holder d-block d-md-none" style="background-image:url(assets/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;margin-top:5.625rem;">
        </div>
        <!--/.bg-holder-->


        <div class="container" 
        data-bs-target="navbarSupportedContent" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" 
        class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
          <div class="row align-items-center min-vh-md-75 mt-7">
            <div class="col-md-7 col-lg-6 py-6 text-sm-start text-center">
              <h1>Школа английского и программирования</h1>
              <p class="mb-5 fs-1 lh-lg" style="color: #282828; line-height: 1px;">Обучение английскому и программированию: от искусства слов к искусству кода</p>

              <!--
              <a class="btn btn-lg btn-primary hover-top btn-glow" href="#">Подобать курс</a>
              <a class="btn btn-lg btn-outline-primary hover-top btn-glow" href="#" style="background-color:white">Пройти тест</a>
              -->
              <a class="btn btn-lg btn-primary hover-top btn-glow" href="#booking">Записаться
                <svg class="bi bi-arrow-right-short ms-2" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                </svg></a>
              <div class="mt-5 mt-xl-6">
                <ul class="list-unstyled list-inline mb-0">
                  <li class="list-inline-item me-3"><a class="text-decoration-none" href="https://www.facebook.com/skills.hub2021">
                      <svg class="bi bi-facebook text-facebook" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
                      </svg></a></li>
                  <li class="list-inline-item me-3"><a href="https://www.instagram.com/skills__hub/">
                      <svg class="bi bi-instagram text-instagram text-youtube" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"> </path>
                      </svg></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--Advantages-->
      <section id="customers">

          <div class="container">
            <h1 class="text-center display-5 fw-semi-bold" data-zanim-xs='{"delay":0.3}' data-zanim-trigger="scroll"> Skills Hub – обучаться с нами легко!</h1>
            <div class="row mb-4 mt-6">
              <div class="col-md-6 col-lg-3 text-center"><img src="assets/img/icons/4.png" alt="Dashboard" style="width:95px;" />
                <h4 class="mt-3 lh-base">Удобный формат</h4>
                <p class="fs-1">Обучение детей и взрослых проходит онлайн или офлайн.</p>
              </div>
              <div class="col-md-6 col-lg-3 text-center"><img src="assets/img/icons/5.png" alt="Comment" style="width:95px;" />
                <h4 class="mt-3 lh-base">Практика</h4>
                <p class="fs-1">Наша команда - работающие программисты и носители языка.</p>
              </div>
              <div class="col-md-6 col-lg-3 text-center"><img src="assets/img/icons/6.png" alt="Tailored" style="width:95px;" />
                <h4 class="mt-3 lh-base">Гарантии</h4>
                <p class="fs-1" >Сертификат и диплом подтверждающий квалификацию.</p>
              </div>
              <div class="col-md-6 col-lg-3 text-center"><img src="assets/img/icons/7.png" alt="Dashboard" style="width:95px;" />
                <h4 class="mt-3 lh-base">Технологии</h4>
                <p class="fs-1">Программа меняется каждый год, учим только нужному.</p>
              </div>
              <!--
              <div class="col-md-6 col-lg-3 text-center"><img src="assets/img/icons/7.png" alt="Dashboard" style="width:95px;" />
                <h4 class="mt-3 lh-base">Безопасность</h4>
                <p class="fs-1">Оплата частями, никаких рисков</p>
              </div>
              -->
            </div>

            </div>
          </div>
          <!-- end of .container-->

        </section>



    <!-- ======= About Us Section ======= -->
        <section class="about pt-0">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
            <img src="~/images/start2.jpg" style="max-height:600px; position:absolute" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 content order-last  order-lg-first p-4">
            <h3 id="about">О нас</h3>
            <p>
              Skills Hub – образовательный центр, обучающий детей и взрослых английскому языку, программированию и 3D моделированию.            </p>
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h5>Квалифицированные преподаватели</h5>
                  <p>Более 60 серцифицированных специалистов на ваш выбор</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                                      <h5>Клиенты</h5>
                  <p>Более 1500 учеников уже прошли наши курсы</p>

                </div>
              </li>
                            <li data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-broadcast"></i>
                <div>
                                      <h5>Местоположение</h5>
                  <p>Удобное местоположение в центре города</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

        <!--  Try to lesson  -->
        <section id="call-to-action" class="call-to-action" style=" background-size:60%;background-position-y: 850;background-position-x: center;background-color: rgb(114, 175, 255);background-blend-mode: hue;">
          <div class="container" data-aos="zoom-out">

            <div class="row justify-content-center">
              <div class="col-lg-8 text-center">
                <h3 style="color: white;">Вводный урок — бесплатно!</h3>
                <p style="color: whitesmoke;">Пробное занятие поможет вам понять, на каком уровне вы сейчас. Оценим ваши навыки и подберем группу, удобное время и преподавателя под ваши предпочтения </p>
                <a type="button" class="cta-btn btn btn-outline-light" href="#booking">Попробовать бесплатно</a>
              </div>
            </div>

          </div>
        </section><!-- End Call To Action Section -->

       <!--  Cources  -->

        <div class="container" style="margin-top:50px">
          <div class="row">
            <div class="col-lg-7 mx-auto text-center mb-4">
              <h5 class="fw-light fs-3 fs-lg-5 lh-sm mb-3" id="cources">Наши курсы</h5>
            </div>
          </div>
          <div class="row flex-center h-100">
            <div class="col-xl-9">
              <div class="row justify-content-center">
                                  <div class="col-md-4 mb-4">
                  <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-4">
                    <div class="text-center text-md-start card-hover"><img class="ps-3 icons" src="assets/img/icons/admission.png" height="60" alt="services" />
                      <div class="card-body">
                        <h6 class=" fs-1 heading-color">Английский для взрослых</h6>
                        <p class="mt-3 mb-md-0 mb-lg-3">Для взрослых занятия ведутся с упором на разговорную речь, уделяется внимание заполнению пробелов в грамматике. </p><a class="btn btn-lg ps-0 pe-3 text-primary" href="#english-children" role="button">Узнать больше
                          <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                          </svg></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-4">
                    <div class="text-center text-md-start card-hover"><img class="ps-3 icons" src="assets/img/icons/career.png" height="60" alt="services" />
                      <div class="card-body">
                        <h5 class=" fs-1 heading-color">Английский для <br/> детей</h5>
                        <p class="mt-3 mb-md-0 mb-lg-3">Для детей изучение английского языка проходят в игровой форме, что позволяет ребенку легко запоминать материал.</p><a class="btn btn-lg ps-0 pe-3 text-primary" href="#english-adults" role="button">Узнать больше
                          <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                          </svg></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 mb-4">
                  <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-4">
                    <div class="text-center text-md-start card-hover"><img class="ps-3 icons" src="assets/img/icons/visa.png" height="60" alt="services" />
                      <div class="card-body">
                        <h6 class=" fs-1 heading-color">Английский для организаций</h6>
                        <p class="mt-3 mb-md-0 mb-lg-3">Корпоративные курсы с учетом специфики бизнеса. Создаем возможности работать с иностранными компаниями. </p><a class="btn btn-lg ps-0 pe-3 text-primary" href="#english-business" role="button">Узнать больше
                          <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                          </svg></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 mb-4">
                  <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-4">
                    <div class="text-center text-md-start card-hover"><img class="ps-3 icons" src="assets/img/icons/clock.png" height="60" alt="services" />
                      <div class="card-body">
                        <h6 class=" fs-1 heading-color">Экспресс-английский</h6>
                        <p class="mt-3 mb-md-0 mb-lg-3">Курсы с выбранной вами спецификой. Смотреть фильмы, читать научную литературу - выбирать тебе. </p><a class="btn btn-lg ps-0 pe-3 text-primary" 
                        href="#english-express" role="button">Узнать больше
                          <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                          </svg></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-4">
                    <div class="text-center text-md-start card-hover"><img class="ps-3 icons" src="assets/img/icons/departure.png" height="60" alt="services" />
                      <div class="card-body">
                        <h6 class=" fs-1 heading-color">SPEAKING CLUB</h6>
                        <p class="mt-3 mb-md-0 mb-lg-3">Занятия с упором на общение. Совершенствуйте свои разговорные навыки вместе с носителями языка.</p><a class="btn btn-lg ps-0 pe-3 text-primary" href="#" role="button">Узнать больше
                          <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                          </svg></a>
                      </div>
                    </div>
                  </div>
                </div>
                                <div class="col-md-4 mb-4">
                  <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-4">
                    <div class="text-center text-md-start card-hover"><img class="ps-3 icons" src="assets/img/icons/toy2.png" height="60" alt="services" />
                      <div class="card-body">
                        <h6 class=" fs-1 heading-color">Программирование <br />для детей</h6>
                        <p class="mt-3 mb-md-0 mb-lg-3">Разработайте путь к успеху с помощью веселых уроков программирования.</p><a class="btn btn-lg ps-0 pe-3 text-primary" href="#" role="button">Узнать больше
                          <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                          </svg></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


     <!--  Cources For Adults  -->

      <section  id="docs">
        <div class="bg-holder d-none d-lg-block" style="background-size: contain; min-height:800px; background-image:url(images/astart29659818_7606000.jpg);background-position:right bottom;background-size:contain; background-position-y:0px">
        </div>

        <div class="container p-4">
          <div class="row align-items-center">
            <div class="col-12 col-lg-7 col-xl-6 text-lg-start text-center">
              <h1 class="fs-4 fw-normal mt-6" id="english-adults">Английский для взрослых</h1>
              <p class="fs-1">Курсы английского языка для взрослых от 16 лет
              </p>

              <ul style=" list-style: none; margin-left: -10px;">
                <li style="font-size: 16px;">- Групповой и индивидуальный формат (до 8 человек)</li>
                <li style="font-size: 16px;">- Онлайн/оффлайн</li>
                <li style="font-size: 16px;">- Занятия проводятся 2 раза в неделю по 60/70 минут <br/>в онлайн/оффлайн форматах</li>
                <li style="font-size: 16px;">- Длительность зависит от скорости обучения учеников</li>
              </ul>

            </div>




          </div>

          <div class="row align-items-center mt-4">

            <h4 class="fs-2 fw-normal">Уровень английского:
            </h4>

            <div >

            <ul class="list-unstyled py-3 levels-english">
              <li class="mb-3 text-900" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample"><span class="far fa-check-circle text-700 me-2"></span>
                <a id="button1" type="button" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">BEGINNERS</a> – уровень А<span style="font-family: sans-serif;">1</span>  (с нуля) – 3 месяца обучения
             <a href="#collapseExample1" ><<<</a>
            </li>
              <div class="collapse row text-md-start col-md-6" id="collapseExample1">
                <span class="far fa-check-circle  me-2"></span>
                <p>
                  Обучающиеся смогут начать читать, понимать и употреблять в речи заученные фразы и выражения на самом простом коммуникативном уровне, также смогут представиться/представить других. Спрашивать и отвечать на вопросы о месте своего жительства, знакомых, о бытовой жизни, смогу участвовать в очень простом разговоре, если собеседник говорит медленно и отчетливо и готов поддерживать при разговоре.                </p>
              </div>

              <li class="mb-3 text-900" data-bs-toggle="collapse" href="#collapseExample2" onclick="(this) => {this.style.aria-expanded = !this.style.aria-expanded}" role="button" aria-expanded="false" aria-controls="collapseExample"><span class="far fa-check-circle text-700 me-2"></span>
                <a class="far fa-check-circle  me-2">ELEMENTARY</a> – уровень А1.2 – 5 месяцев обучения
              </li>
              <div class="collapse row text-md-start col-md-6" id="collapseExample2">
                <span class="far fa-check-circle  me-2"></span>
                <p >
                  Обучающиеся смогут понимать и употреблять в речи знакомые фразы и выражения, необходимые для выполнения конкретных задач, также смогут представиться/представить других. Спрашивать и отвечать на вопросы о месте жительства, знакомых, о бытовой жизни, смогу участвовать в несложном разговоре, если собеседник говорит медленно и отчетливо и готов поддерживать при разговоре.                </p>
              </div>

              <li class="mb-3 text-900" id="button3" type="button" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                <span class="far fa-check-circle  me-2" ></span>
                <a style="color: #091E40;" class="far fa-check-circle  me-2" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">PRE-INTERMEDIATE</a> – уровень А2 – 5-6 месяцев обучения
              </li>
              <div class="collapse row text-md-start col-md-6" id="collapseExample3">
                <span class="far fa-check-circle  me-2"></span>
                <p>
                  Обучающиеся смогут понимать предложения и часто встречающиеся выражения, связанные с основными сферами жизни (например, основные сведения о себе и членах своей семьи, покупках, устройстве на работу и т. п.). Смогут выполнить задачи, связанные с обменом информацией на знакомые или бытовые темы. Смогут рассказать о себе, своих родных и близких, описать основные аспекты повседневной жизни, немного рассказать о своих предстоящих действиях.              </div>
              <li class="mb-3 text-900" id="button1" type="button" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
                <span class="far fa-check-circle  me-2" ></span>
                <a style="color: #091E40;" class="far fa-check-circle  me-2">INTERMEDIATE</a> – уровень B1 – 5-6 месяцев обучения
              </li>
              <div class="collapse row text-md-start col-md-6" id="collapseExample4">
                <span class="far fa-check-circle  me-2"></span>
                <p style="padding-left: 4.2%;"  >
                  Обучающиеся смогут понимать и употреблять в речи знакомые фразы и выражения, необходимые для выполнения конкретных задач, также смогут представиться/представить других. Спрашивать и отвечать на вопросы о месте жительства, знакомых, о бытовой жизни, смогу участвовать в несложном разговоре, если собеседник говорит медленно и отчетливо и готов поддерживать при разговоре.                </p>
              </div>

              <li class="mb-3 text-900" id="button1" type="button" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">
                <span class="far fa-check-circle  me-2" ></span>
                <a style="color: #091E40;" class="far fa-check-circle  me-2">UPPER-INTERMEDIATE</a> – уровень B2 – 5-6 месяцев обучения
              </li>
              <div class="collapse row text-md-start col-md-6" id="collapseExample5">
                <span class="far fa-check-circle  me-2"></span>
                <p style="padding-left: 4.2%;"  >
                  Обучающиеся смогут понимать и употреблять в речи знакомые фразы и выражения, необходимые для выполнения конкретных задач, также смогут представиться/представить других. Спрашивать и отвечать на вопросы о месте жительства, знакомых, о бытовой жизни, смогу участвовать в несложном разговоре, если собеседник говорит медленно и отчетливо и готов поддерживать при разговоре.                </p>
              </div>

              <li class="mb-3 text-900" id="button1" type="button" data-bs-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">
                <span class="far fa-check-circle  me-2" ></span>

              <a style="color: #091E40;" class="far fa-check-circle  me-2">ADVANCE</a> – уровень С1 – 5-6 месяцев обучения
            </li>
              <div class="collapse row text-md-start col-md-6" id="collapseExample6">
                <span class="far fa-check-circle  me-2"></span>
                <p style="padding-left: 4.2%;"  >
                  Обучающиеся смогут понимать и употреблять в речи знакомые фразы и выражения, необходимые для выполнения конкретных задач, также смогут представиться/представить других. Спрашивать и отвечать на вопросы о месте жительства, знакомых, о бытовой жизни, смогу участвовать в несложном разговоре, если собеседник говорит медленно и отчетливо и готов поддерживать при разговоре.                </p>
              </div>
            </ul>
            <a type="button" href="#booking" class="btn btn-primary">Попробовать</a>

          </div>

        </div>
      </section>

      <!--
      <section class="py-5 collapse" id="collapseExample">
          
        <div class="container" id="auto">
          <div class="row align-items-center">
            <div class="col-md-6 text-md-start">
              <h4 class="fs-2 fw-normal">Программа</h4>
             <p>
                Обучающиеся смогут начать читать, понимать и употреблять в речи заученные фразы и выражения на самом простом коммуникативном уровне, также смогут представиться/представить других. Спрашивать и отвечать на вопросы о месте своего жительства, знакомых, о бытовой жизни, смогу участвовать в очень простом разговоре, если собеседник говорит медленно и отчетливо и готов поддерживать при разговоре.
             </p>
            </div>
            </div>
        </div>
        
      </section>
    -->

   <section id="features" class="features">
    <div class="container">
     <!--  Cources For Children  -->

      <div class="row gy-4 align-items-center features-item" data-aos="fade-up">

        <div class="col-md-5">
          <img src="~/images/a22378306_6596311.jpg" class="img-fluid " alt="" style="max-height: 350px; position: top;">
        </div>
        <div class="col-md-7">
          <h3 id="english-children">Английский для детей</h3>
          <p class="fs-1">Курсы английского языка для детей от 4 до 16 лет
          </p>


          <ul class="list-unstyled py-3" id="scroll-children">

          <!--1-->
            <li class="mb-3 text-900" data-bs-toggle="collapse" href="#collapseChildren1" role="button" aria-expanded="false" aria-controls="collapseChildren1"><span class="far fa-check-circle text-700 me-2"></span>
              <a style="color: #091E40;" id="button1" type="button" data-bs-toggle="collapse" 
              href="#collapseChildren1" role="button" aria-expanded="false" aria-controls="collapseExample"
              >
              Для малышей 4-6 лет</a> - 2-4 раза еженедельно
            </li>

            <div class="collapse row text-md-start col-md-20" id="collapseChildren1">
              <span class="far fa-check-circle  me-2"></span>
              <ul style="padding-left: 4.2%; list-style: none;">
                <li style="font-size: 16px;">- Только индивидуальный формат</li>
                <li style="font-size: 16px;">- Онлайн/оффлайн</li>
                <li style="font-size: 16px;">- Занятия проводятся по 45 минут</li>
              </ul>
            <p></p>
              <p style="padding-left: 4.2%; font-size: 16px;">
                Малыши с легкостью впитывают информацию любого плана, если им правильно ее доносить. Применительно к английскому это значит, что языковые уроки для малышей необходимо проводить в развлекательно-игровом формате, регулярно и последовательно
              </p>
              <p style="padding-left: 4.2%; font-size: 16px;">
                При создании этого курса методисты нашей школы использовали методику раннего развития в игровой форме, которая облегчает учебный процесс для детей. Малыши смогут узнать интересные факты о животных, о природе, о медицине, о городе и правилах движения, о магазинах и покупках. Обучение ведётся с помощью игрушек, красочных карточек, веселых песен и стихов, мультфильмов и игр.              </p>                
            </div>


            <!--2-->
            <li class="mb-3 text-900" data-bs-toggle="collapse" href="#collapseChildren2" role="button" aria-expanded="false" aria-controls="collapseChildren1"><span class="far fa-check-circle text-700 me-2"></span>
              <a style="color: #091E40;" id="button1" type="button" data-bs-toggle="collapse" 
              href="#collapseChildren2" role="button" aria-expanded="false" aria-controls="collapseExample"
              >
                Дети 7-10 лет</a> - 3-6 месяцев обучения
            </li>
            <div class="collapse row text-md-start col-md-20" id="collapseChildren2">
              <span class="far fa-check-circle  me-2"></span>
              <ul style="padding-left: 4.2%; list-style: none;">
                <li style="font-size: 16px;">- Групповой и индивидуальный формат (до 8 человек)</li>
                <li style="font-size: 16px;">- Онлайн/оффлайн</li>
                <li style="font-size: 16px;">- Занятия проводятся 2 раза в неделю по 70 минут</li>
                <li style="font-size: 16px;">- Длительность зависит от скорости обучения учеников</li>
              </ul>
              <p></p>
              <ul style="padding-left: 4.2%; list-style: none;" class="direction-educations">
                <li style="font-size: 16px;"><span>BEGINNERS</span> – уровень А1.1 (с нуля) – 3 месяца обучения</li>
                <li style="font-size: 16px;"><span>ELEMENTARY</span> – уровень А1.2 – 5 месяцев обучения</li>
                <li style="font-size: 16px;"><span>PRE-INTERMEDIATE</span> – уровень А2 – 5-6 месяцев обучения</li>
              </ul>
            <p></p>
              <p style="padding-left: 4.2%; font-size: 16px;">
                Малыши с легкостью впитывают информацию любого плана, если им правильно ее доносить. Применительно к английскому это значит, что языковые уроки для малышей необходимо проводить в развлекательно-игровом формате, регулярно и последовательно
              </p>
              <p style="padding-left: 4.2%; font-size: 16px;">
                При создании этого курса методисты нашей школы использовали методику раннего развития в игровой форме, которая облегчает учебный процесс для детей. Малыши смогут узнать интересные факты о животных, о природе, о медицине, о городе и правилах движения, о магазинах и покупках. Обучение ведётся с помощью игрушек, красочных карточек, веселых песен и стихов, мультфильмов и игр.              </p>                
            </div>

            <!--3-->
            <li class="mb-3 text-900" data-bs-toggle="collapse" href="#collapseChildren3" role="button" aria-expanded="false" aria-controls="collapseChildren1"><span class="far fa-check-circle text-700 me-2"></span>
              <a style="color: #091E40;" id="button1" type="button" data-bs-toggle="collapse" 
              href="#collapseChildren3" role="button" aria-expanded="false" aria-controls="collapseExample">
                Подростки 11-15 лет</a> - 3-6 месяцев обучения
            </li>
            <div class="collapse row text-md-start col-md-20" id="collapseChildren3">
              <span class="far fa-check-circle  me-2"></span>
              <ul style="padding-left: 4.2%; list-style: none;">
                <li style="font-size: 16px;">- Групповой и индивидуальный формат (до 8 человек)</li>
                <li style="font-size: 16px;">- Онлайн/оффлайн</li>
                <li style="font-size: 16px;">- Занятия проводятся 2 раза в неделю по 70 минут</li>
                <li style="font-size: 16px;">- Длительность зависит от скорости обучения учеников</li>
              </ul>
              <p></p>
              <ul style="padding-left: 4.2%; list-style: none;" class="direction-educations">
                <li style="font-size: 16px;"><span>BEGINNERS</span> – уровень А1.1 (с нуля) – 3 месяца обучения</li>
                <li style="font-size: 16px;"><span>ELEMENTARY</span> – уровень А1.2 – 5 месяцев обучения</li>
                <li style="font-size: 16px;"><span>PRE-INTERMEDIATE</span> – уровень А2 – 5-6 месяцев обучения</li>
                <li style="font-size: 16px;"><span>INTERMEDIATE</span> – уровень B1 – 5-6 месяцев обучения</li>
              </ul>
            <p></p>
              <p style="padding-left: 4.2%; font-size: 16px;">
                Обучение детей этого возраста направлено на формирование и развитие навыков свободного общения и расширение знаний в различных областях.
              </p>
              <p>Развиваем навыки:</p>
              <ul style="padding-left: 4.2%; list-style: none;">
                <li style="font-size: 16px;">
                Построение диалогов : обсуждать интересы, планы, выражать согласие/несогласие, интерес, навык вести диалог сразу с несколькими собеседниками.
                </li>
                <li style="font-size: 16px;">
                Монолог : представлять сообщение, излагать факты, высказывать свое отношение к услышанному или прочитанному, пересказывать.
                  </li>
                <li style="font-size: 16px;">
                    Аудирование : понимать речь и содержание услышанного, извлекать главное, давать критическую оценку прослушанного.
                      </li>
                <li style="font-size: 16px;">
                  Чтение : свободно читать публицистическую, научно-популярную, страноведческую, художественную литературу.
                    </li>
              </ul>

            </div>

          

          </ul>
          <a type="button" href="#booking" class="btn btn-primary" >Записаться</a>
        </div>

      </div>

     <!--  Cources For Organizations  -->
      <div class="row gy-4 p-3 align-items-center features-item" data-aos="fade-up" style="margin-top: 20px;">
        <div class="col-md-5 order-1 order-md-2">
          <img src="~/images/a87115722.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 order-2 order-md-1">
          <h3 id="english-business">Английский для организаций</h3>
          <p class="fs-1">Курсы английского языка для работы</p>

            <ul style=" list-style: none; margin-left: -10px;">
              <li style="font-size: 16px;">- Групповой и индивидуальный формат (до 8 человек)</li>
              <li style="font-size: 16px;">- Онлайн/оффлайн</li>
              <li style="font-size: 16px;">- Занятия проводятся 2 раза в неделю по 90 минут</li>
              <li style="font-size: 16px;">- Длительность зависит от скорости обучения учеников</li>
            </ul>

            <ul class="list-unstyled py-3" id="scroll-children" style="margin-top: -15px;">

              <!--2-->
              <li class="mb-3 text-900" data-bs-toggle="collapse" href="#ok" role="button" aria-expanded="false" aria-controls="collapseChildren1"><span class="far fa-check-circle text-700 me-2"></span>
                <a style="color: #091E40;" id="button1" type="button" data-bs-toggle="collapse" 
                href="#ok" role="button" aria-expanded="false" aria-controls="collapseExample"
                >
                BUSINESS START-UP</a> - 4,5 месяца обучения
              </li>

              <li class="mb-3 text-900" data-bs-toggle="collapse" href="#ok" role="button" aria-expanded="false" aria-controls="collapseChildren1"><span class="far fa-check-circle text-700 me-2"></span>
                <a style="color: #091E40;" id="button1" type="button" data-bs-toggle="collapse" 
                href="#ok" role="button" aria-expanded="false" aria-controls="collapseExample"
                >
                ELEMENTARY BUSINESS</a> - 2,5 месяца обучения
              </li>

              <li class="mb-3 text-900" data-bs-toggle="collapse" href="#ok" role="button" aria-expanded="false" aria-controls="collapseChildren1"><span class="far fa-check-circle text-700 me-2"></span>
                <a style="color: #091E40;" id="button1" type="button" data-bs-toggle="collapse" 
                href="#ok" role="button" aria-expanded="false" aria-controls="collapseExample"
                >
                ELEMENTARY BUSINESS</a> - 2 месяца обучения
              </li>

            </ul>

            <div style="margin-top: -30px; margin-left: 6px;" id="ok" class="collapse">
            <p>Основная задача данного курса – научиться вести дела на английском языке. Программа сконцентрирована на обучении языку и создании аутентичных деловых ситуаций – ведение переговоров, деловых встреч, дискуссий, презентаций и т. д.</p>
          </div>

          <a type="button" href="#booking" class="btn btn-primary">Попробовать</a>

        </div>
      </div>

      <!-- Cources For EXPRESS-->
      <div class="row gy-4 align-items-center features-item" data-aos="fade-up" style="margin-top: 20px;">
        <div class="col-md-5">
          <img src="~/images/aexpress.jpg" class="img-fluid" alt="" style="padding-top: 50px;" >
        </div>
        <div class="col-md-7" style="padding-left: 4.2%;"> 
              <h3 id="english-express">Экспресс-английский</h3>
              <p class="fs-1">Курсы английского языка для по выбранному направлению</p>
              <ul style=" list-style: none; margin-left: -10px;">
                <li style="font-size: 16px;">- Групповой и индивидуальный формат (до 8 человек)</li>
                <li style="font-size: 16px;">- Онлайн/оффлайн</li>
                <li style="font-size: 16px;">- Занятия проводятся 2-3 раза в неделю по 60 минут</li>
                <li style="font-size: 16px;">- Длительность зависит от скорости обучения учеников</li>
              </ul>
             <p>Выбирая экспресс – курсы, вы точно знаете, для каких целей изучаете английский язык. Это поможет составить программу, соответствующую именно Вашим потребностям, ведь выучить практически все за несколько месяцев невозможно.</p>
             <p>Программа включает в себя только основные моменты, необходимые Вам для Вашей цели. Так вы не будете тратить время на лексику и грамматические правила, которые, возможно, и вовсе не пригодятся. Выберите те темы, которые вы используете в работе, или которые будут вам полезны в поездке, или в любой другой ситуации.</p>
             <a  type="button" class="btn btn-primary" href="#booking">Записаться</a>

         </div>

      </div>

      <!--Cources Speaking Club-->
             <div class="row gy-4 p-3 align-items-center features-item" data-aos="fade-up" style="margin-top: 20px;">
        <div class="col-md-5 order-1 order-md-2">
          <img src="~/images/acommunicate7118856_32885242.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 order-2 order-md-1">
          <h3 id="english-speaking">Speaking club</h3>
          <p class="fs-1">Разговорный английский для подростков и взрослых</p>
            <ul style=" list-style: none; margin-left: -10px;">
              <li style="font-size: 16px;">- Групповой формат (до 7 человек)</li>
              <li style="font-size: 16px;">- Онлайн/оффлайн</li>
              <li style="font-size: 16px;">- Занятия проводятся 1 раз в неделю по 70 минут</li>
            </ul>
            <div style="margin-top: 30px; margin-left: 6px;">
            <p>Наш разговорный клуб английского языка с носителем поможет Вам улучшить произношение, преодолеть языковой барьер. Мы подбираем собеседников одного уровня владения языком, что позволяет высказаться каждому. Темы обсуждаются разные: путешествия, покупки, еда, космос, профессии и многое другое.</p>
          </div>

          <a type="button" href="#booking" class="btn btn-primary">Попробовать</a>

        </div>
      </div>


      <!--  Cources For Programming  -->

      <div class="row gy-4 align-items-center features-item" data-aos="fade-up" style="margin-top:50px">

        <div class="col-md-5">
          <img src="~/images/IT2.jpg" class="img-fluid " alt="" style="max-height: 450px; position: top;">
        </div>
        <div class="col-md-7">
          <h3 id="programming">Программирование</h3>
          <p class="fs-1">Курсы по программированию для детей и подростков
          </p>

            <ul style=" list-style: none; margin-left: -10px;">
              <li style="font-size: 16px;">- Групповой и индивидуальный формат (до 8 человек)</li>
              <li style="font-size: 16px;">- Онлайн/оффлайн</li>
              <li style="font-size: 16px;">- Занятия проводятся 1 раз в неделю по 90 минут</li>
              <li style="font-size: 16px;">- Длительность зависит от скорости обучения учеников</li>

            </ul>

          <ul class="list-unstyled py-3" id="scroll-children">

          <!--1-->
            <li class="mb-3 text-900" data-bs-toggle="collapse" href="#collapseProgramming1" role="button" aria-expanded="false" aria-controls="collapseChildren1"><span class="far fa-check-circle text-700 me-2"></span>
              <a style="color: #091E40;" id="button1" type="button" data-bs-toggle="collapse" 
              href="#collapseProgramming1" role="button" aria-expanded="false" aria-controls="collapseExample"
              >
              SCRATCH </a> - 4-6 лет
            </li>

            <div class="collapse row text-md-start col-md-20" id="collapseProgramming1">
              <span class="far fa-check-circle  me-2"></span>

            <p></p>
              <p style="padding-left: 4.2%; font-size: 16px;">
Scratch - это веселый способ изучить программирование! С помощью ярких блоков, которые можно перетаскивать и соединять, дети смогут создавать свои собственные игры, анимации и истории. Scratch поможет развить  воображение и логическое мышление любого ребёнка.               </p>
            </div>


            <!--2-->
            <li class="mb-3 text-900" data-bs-toggle="collapse" href="#collapseProgramming2" role="button" aria-expanded="false" aria-controls="collapseChildren1"><span class="far fa-check-circle text-700 me-2"></span>
              <a style="color: #091E40;" id="button1" type="button" data-bs-toggle="collapse" 
              href="#collapseProgramming2" role="button" aria-expanded="false" aria-controls="collapseExample"
              >
                PYTHON</a> - 10-14 лет
            </li>
            <div class="collapse row text-md-start col-md-20" id="collapseProgramming2">
              <span class="far fa-check-circle  me-2"></span>
            <p></p>
              <p style="padding-left: 4.2%; font-size: 16px;">
Это самый популярный язык программирования в мире с 2017 года с простым и понятным кодом. С Python можно научиться анимировать, рисовать, создавать игры и многое другое. 
Данный язык широко используется в интернет-приложениях, разработке программного обеспечения, науке о данных и машинном обучении.</p>
<p style="padding-left: 4.2%; font-size: 16px;">
    На курсе Python во время создания своих проектов ребенок сможет изучить синтаксис языка, его основные элементы и получить практические навыки программирования. Программирование так же
    способствует развитию логики, усидчивости и пространственного мышления.
</p>
            </div>

            <!--3-->
            <li class="mb-3 text-900" data-bs-toggle="collapse" href="#collapseProgramming3" role="button" aria-expanded="false" aria-controls="collapseProgramming3"><span class="far fa-check-circle text-700 me-2"></span>
              <a style="color: #091E40;" id="button1" type="button" data-bs-toggle="collapse" 
              href="#collapseProgramming3" role="button" aria-expanded="false" aria-controls="collapseProgramming3">
                JAVA</a> - от 12 лет
            </li>
            <div class="collapse row text-md-start col-md-20" id="collapseProgramming3">
              <span class="far fa-check-circle  me-2"></span>
            <p></p>
              <p style="padding-left: 4.2%; font-size: 16px;">
                 Java – это язык программирования, который известен своей простотой и гибкостью, что делает его идеальным для начинающих, при этом он используют везде – от компьютеров до мобильных телефонов. 
                С помощью Java можно создать интерактивные игры, анимации и даже роботов. Дети могут создавать разные уровни для своих героев,  добавлять звуки, менять графику.
             </p>
            <p>Работа в команде научит ребят совместному творчеству, что  может создать что-то по-настоящему удивительное! А так же дети приобретут навык усидчивости и концентраци во время процесса программирования.</p>

            </div>



          </ul>
          <a type="button" href="#booking" class="btn btn-primary" >Записаться</a>
        </div>

      </div>

      </div>



   </section>


      <!-- Are u ready? -->
        <section class="py-6 bg-100">

          <div class="container" style="background-color: #ffffff; border-radius: 20px; padding: 20px; box-shadow: 10px 5px 5px #4c82a6;">
            <div class="row flex-center">
              <div class="col-md-7 col-lg-6 offset-xl-1">
                <h1 class="fw-light text-center text-md-start fs-lg-3 fs-xl-4" style="margin: 10%;">Готов воплотить свои мечты в реальность?</h1>
              </div>
              <div class="col-md-4 text-center text-lg-end" > <a class="btn btn-lg btn-primary hover-top"  href="#booking">Подобрать курс
                  <svg class="bi bi-arrow-right-short ms-2" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"> </path>
                  </svg></a></div>
            </div>
          </div>

        </section>

      <!-- Camping -->

      <section class="bg-100" id="country">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 mx-auto text-center my-5">
              <h5 class="fw-light fs-3 fs-lg-5 lh-sm mb-3" id="camping">Детский лагерь</h5>
              <p class="mb-3">Городской лагерь - это веселые каникулы с пользой для английского языка!

              </p>
              <p>Лагерь с изучением английского – это замечательная возможность для ваших детей еще больше заинтересовать английским языком за время каникул. От школы уже подустали, а язык не любит перерывов. <br/> <a download href="documents/SummerClubProgram.docx">Скачать примерное расписание</a></p>
            </div>
          </div>
          <div class="row flex-center h-100">
            <div class="col-xl-9">
              <div class="carousel slide" id="carouselCountries" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row h-100 justify-content-center">
                      <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow card-span bg-100"><img class="card-img-top" src="~/images/hz.jpg" alt="news" style="border-radius: 20px; height:230px; width:320px" />
                          <div class="card-body">
                            <h5 class="fs-lg-1 my-3 ">Занятия</h5>
                            <p class="mb-0  lh-base">Каждый день проводятся уроки и интеллектуальные игры на английском языке с носителем языка</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow card-span bg-100"><img class="card-img-top" src="~/images/camp_eating4.jpg" alt="news" style="border-radius: 20px; height:230px; width:320px"/>
                          <div class="card-body">
                            <h5 class="fs-lg-1 my-3 ">Питание</h5>
                            <p class="mb-0 fw-light lh-base">Для детей предусмотрен специальный рацион с различными перекусами в виде фруктов и печенья</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow card-span bg-100"><img class="card-img-top" src="~/images/camp_neon.jpg" alt="news" style="border-radius: 20px; height:230px; width:320px" />
                          <div class="card-body">
                            <h5 class="fs-lg-1 my-3 ">Развлечения</h5>
                            <p class="mb-0 fw-light lh-base">Помимо учебы предусмотрены походы в батутный центр, неоновый парк, гольф и многое другое</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="5000">
                    <div class="row h-100 justify-content-center">
                      <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow card-span bg-100"><img class="card-img-top" src="assets/img/gallery/country-1.png" alt="news" style="border-radius: 20px; height:230px; width:320px" />
                          <div class="card-body">
                            <h5 class="fs-lg-1 my-3">Отдых вне города</h5>
                            <p class="mb-0 fw-light lh-base">Наш лагерь находится вне города, где более чистый воздух, что полезно для здоровья и общего самочувствия</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow card-span bg-100"><img class="card-img-top" src="~/images/camp_board_games2.jpg" alt="news" style="border-radius: 20px; height:230px; width:320px"/>
                          <div class="card-body">
                            <h5 class="fs-lg-1 my-3">Свободное время</h5>
                            <p class="mb-0 fw-light lh-base">Для отдыха есть специально оборудованный класс с телевизором, планшетами и настольными играми</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow card-span bg-100"><img class="card-img-top" src="~/images/camp_board_games.jpg" alt="news" style="border-radius: 20px; height:230px; width:320px" />
                          <div class="card-body">
                            <h5 class="fs-lg-1 my-3">Спорт</h5>
                            <p class="mb-0 fw-light lh-base">Дети каждый день совершают прогулки на свежем воздухе, играют в спортивные игры, участвуют в эстафетах</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                    <div class="row h-100 justify-content-center">
                      <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow card-span bg-100"><img class="card-img-top" src="assets/img/gallery/country-1.png" alt="news" style="border-radius: 20px; height:230px; width:320px"/>
                          <div class="card-body">
                            <h5 class="fs-lg-1 my-3">Безопасность</h5>
                            <p class="mb-0 fw-light lh-base">В лагере всегда присутствует медицинский работник и здоровье вашего ребенка гарантированно</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow card-span bg-100"><img class="card-img-top" src="~/images/camp_joing.jpg" alt="news"  style="border-radius: 20px; height:230px; width:320px" />
                          <div class="card-body">
                            <h5 class="fs-lg-1 my-3">Творчество</h5>
                            <p class="mb-0 fw-light lh-base">Разные тематические недели: творческие, где рисуем и лепим, театральные, спортивные, кулинарные</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow card-span bg-100"><img class="card-img-top" src="~/images/camp_communication2.jpg" alt="news" style="border-radius: 20px; height:230px; width:320px"/>
                          <div class="card-body">
                            <h5 class="fs-lg-1 my-3">Общение</h5>
                            <p class="mb-0 fw-light lh-base">Для детей устраиваются веселые конкурсы, брейн ринги, просмотр и обсуждение фильмов - все это на английском языке</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-3 mb-7 flex-center">
                  <div class="col-auto position-relative z-index-2">
                    <ol class="carousel-indicators">
                      <li class="active mx-2" data-bs-target="#carouselCountries" data-bs-slide-to="0"></li>
                      <li class="mx-2" data-bs-target="#carouselCountries" data-bs-slide-to="1"></li>
                      <li class="mx-2" data-bs-target="#carouselCountries" data-bs-slide-to="2"></li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>

      <!-- Booking -->
 <section id="book-a-table" class="book-a-table">
  <div class="container p-4" data-aos="fade-up">

    <div class="section-header">
      <h2 id="booking">Хочешь записаться или остались вопросы?</h2>
      <p>Оставьте заявку и мы с вами свяжемся в ближайшее время <br/> Для записи на занятие предварительно пройдите тест и укажите результат в письме</p>
      <p></p>

    </div>

    <div class="row g-0">

      <div class="col-lg-4 reservation-img" style="background-image: url(assets/img/contact-dec-v3.png); background-repeat: no-repeat;" data-aos="zoom-out" data-aos-delay="200"></div>

      <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
        <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
          <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
              <input type="text" name="name" class="form-control" id="name" asp-for="Name" placeholder="Ваше имя*" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required>
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6">

<input type="tel" class="form-control" name="phone" id="phone" asp-for=Phone placeholder="Ваш телефон*" pattern="[0-9]{4,}" title="Please enter a valid phone number (minimum 4 digits)" required>
<div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6">
<input type="email" class="form-control" name="email" id="email" asp-for="Email" placeholder="Ваша почта" >
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="data" rows="5" asp-for=Data placeholder="Сообщение*" data-rule="minlen:4" data-msg="Please enter at least 4 chars" rows="4" cols="50" style="max-height:400px" required></textarea>
            <div class="validate"></div>
          </div>

          <div class="text-center " style="margin-top: 10%; align-items:start; display:flex;gap:10px; "  >
              <input type="submit" asp-action="SendMessage" asp-controller="Home" value="Оставить заявку" class="btn btn-primary"></a>
              <a  class="cta-btn btn btn-outline-primary" download href="~/documents/Оферта.pdf">Cкачать договор оферты</a>
          </div>

        </form>

        <br/>

      </div><!-- End Reservation Form -->

    </div>

  </div>
</section>


    </main>


