@model (IQueryable<Object>,Object,IQueryable<Object>);
@{
	ViewData["Title"] = "Create";
}
<div class=" text-center ">

	<link href="~/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
	<link href="~/css/style.css" rel="stylesheet">

	<style>
		.rounded-t-5 {
			border-top-left-radius: 0.5rem;
			border-top-right-radius: 0.5rem;
		}

		.rounded-bl-lg-5 {
			border-bottom-left-radius: 0.5rem;
		}

		.my-background {
			background-color: #F3F3F9 !important;
		}

		th, td {
			text-wrap: nowrap
		}

		.search-input {
			min-width: 30px
		}

		.search-select {
			min-width: 30px
		}

	</style>

	<!--
	<div class="row page-titles mx-0">
		<div class="col p-md-0">
			<ol class="breadcrumb" style="display:flex;align-items:center">
				<li class="breadcrumb-item"><a href="javascript:void(0)">Курсы</a></li>
			</ol>
		</div>
	</div>
	-->
	<div class="container-fluid">
		<div class="row">

			<!--NAVBAR - Courses, LessonTypes-->
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card">

							<nav class="navbar navbar-expand-lg bg-light">
								<div class="container-fluid">

									<div class="collapse navbar-collapse" id="navbarSupportedContent" style="display:flex;grid-gap:20px">
										<ul class="navbar-nav me-auto mb-2 mb-lg-0">


											<li class="nav-item" style="display:flex;align-items:baseline;grid-gap:10px; margin-right:5%">
												<p style="white-space:nowrap">Вкладка:</p>
												<select class="form-select" id="page-select" onchange="ChangePage()">
													<option value="page-lessonTypes" selected>Категории занятий</option>
													<option value="page-paymentTypes">Абонементы</option>
													<option value="page-courseNames">Курсы</option>
													<option value="page-locations">Места проведения</option>
													<option value="page-groupTypes">Групповые категории</option>
													<option value="page-ageTypes">Возрастные категории</option>
												</select>
											</li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>


			<!--LessonTypes-->
			<!--CourseName-->


			<div id="page-data">
				<div id="lessonTypes-all">
					<div class="d-flex justify-content-center">
						<div class="spinner-border text-primary" role="status">
							<span class="visually-hidden">Loading...</span>
						</div>
					</div>
				</div>
				<!--
				<div id="courseNames-all">

				</div>-->
			</div>
		</div>
	</div>
</div>




<script>


	/*
		$(document).ready(function () {

			var selectedOption = selectElement.value;
			$("#lessonTypes-all").load("/LessonType/Index");
			$("#courseNames-all").hide();
			$("#lessonTypes-all").show();


		})*/
			window.onload = function(e){
				const delay = ms => new Promise(res => setTimeout(res, ms));
				ChangePage()
			}

		function ChangePage() {
			var e = document.getElementById("page-select");
			e.value = e.value
			var selectedOption = e.value;
			var text = e.options[e.selectedIndex].text;
			console.log(selectedOption)
			console.log(text)
			


		   // $("#lessonTypes-all").html(
			  //  '<div class="d-flex justify-content-center">' +
			  //  '<div class="spinner-border text-primary" role="status">' +
			  //  '<span class="visually-hidden">Loading...</span>' +
			  //  '</div>' +
			  //  '</div>'
		   // );

			// if (selectedOption === "page-lessonTypes") {
			// 	console.log("ok1")
			// 	//$("#lessonTypes-all").show();
			// 	// $("#lessonTypes-all").load("/LessonType/Index");
			// 	$("#lessonTypes-all").load("/Course/Index");

			// }
			 if (selectedOption === "page-paymentTypes") {
				console.log("ok2")
				//$("#courseNames-all").show();
				$("#lessonTypes-all").load("/PaymentCategory/Index");
				return;
			}
			else if (selectedOption === "page-courseNames") {
				console.log("ok2")
				//$("#courseNames-all").show();
				$("#lessonTypes-all").load("/Course/Index");
				return;
			}
			else if (selectedOption === "page-lessonTypes") {
				console.log("ok2")
				//$("#courseNames-all").show();
				$("#lessonTypes-all").load("/LessonType/Index");
				return;
			}
			
			else if (selectedOption === "page-locations")
			{
				$("#lessonTypes-all").load("/Location/Index");
				return;
			}
			else if (selectedOption === "page-groupTypes") {
				console.log("ok3")
				//$("#courseNames-all").show();
				$("#lessonTypes-all").load("/GroupType/Index");
				return;
			}
			else if (selectedOption === "page-ageTypes") {
				console.log("ok3")
				//$("#courseNames-all").show();
				$("#lessonTypes-all").load("/AgeType/Index");
				return;
			}
		}
</script>



